%section#middle
  #content
    %h1 Mission
    %p Our mission is to feed hungry kids.
    %p Without the benefit of free or reduced price lunch and breakfast over the weekend, an increasing number of local children are coming to school hungry on Monday morning. The Backpacks in Bend program provides a simple solution.  We fill backpacks with healthy, non-perishable food for students to take home on Fridays.
  %aside
    %blockquote “You can tell which children are hungry. They are unable to concentrate or participate in class. Hunger affects learning because their bodies are in survival mode, but it also affects their friendships, their confidence and every aspect of their school experience.”
    %p Elementary School Principal
   