!!! 5
%html
  %head
    %title Brian Bauer - Web Development & Design
    %link{:rel=>'stylesheet',:href=>'/stylesheets/screen.css',:media=> 'all',:type => 'text/css'}
    %link{:rel=>'stylesheet',:href=>'http://fonts.googleapis.com/css?family=Rokkitt&v2',:media=> 'all',:type => 'text/css'}
    %script{:type => "text/javascript", :src  => "http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"}
    :javascript
      $(document).ready(function(){
        $('#navigation, #about').localScroll({ duration:300 });
        $('#navigation a').click(function(){
          $('#navigation a').removeClass("on");
          $(this).addClass("on");
        });
      });	
  %body
    #wrapper
      %header
        #banner
          %nav
            %ul
              %li
                %a{:class => "home", :href => ""} Home
              %li
                %a{:class => "facts", :href => ""} Facts
              %li
                %a{:class => "help", :href => ""} How to Help
              %li
                %a{:class => "about", :href => ""} About
      = yield
      %footer
        %p All content &copy; 2011 Brian Bauer
