!!! 5
%html
  %head
    %title Backpacks in Bend - Food Donation Bend Oregon
    %link{:rel=>'stylesheet',:href=>'/stylesheets/screen.css',:media=> 'all',:type => 'text/css'}
    %link{:rel=>'stylesheet',:href=>'http://fonts.googleapis.com/css?family=Rokkitt&v2',:media=> 'all',:type => 'text/css'}
    %script{:type => "text/javascript", :src  => "http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"}
    %script{:type => "text/javascript", :src  => "/javascripts/corners.js"}
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    :javascript
      $(document).ready(function(){
        $('.home').corner("bl 12px");
        $('.about').corner("br 12px");
        $('footer').corner("bottom 12px");
      });	
  %body
    #wrapper
      %header
        #banner
          %nav
            %ul
              %li
                %a{:class => "home", :href => ""} Home
              %li
                %a{:class => "facts", :href => ""} Facts
              %li
                %a{:class => "help", :href => ""} How to Help
              %li
                %a{:class => "about", :href => ""} About
      = yield
      %footer
        %p All content &copy; 2011 Backpacks in Bend
